/*---------- CENTRARE ----------*/
:root{
    box-sizing: border-box;
}
*,::before,::after{
    box-sizing: inherit;
}
body *+*{
    margin-top: 1.5em;
}
.container{
    max-width: 1080px;
    margin: auto;
}
/*----------STYLE----------*/
body{
    background-color: #709b90;
    font-family: Calibri,sans-serif;
}
/*----------Nav Section----------*/
.site-nav{
    display: flex;
    padding: .5em;
    list-style-type: none;
    background-color: #5f4b44;
    border-radius: .2em;
}
ul.site-nav > li{
    margin-top: 0;
}
ul.site-nav > li>a{
    display: block;
    padding: .5em 1em;
    background-color: #cc6b5a;
    color: white;
    text-decoration: none;
}
ul.site-nav > li>a:hover{
    background-color: darkred;
}
ul.site-nav>li+li{
    margin-left: .5em;
}
ul.site-nav>.nav--right{
    margin-left: auto;
}
/*----------Main----------*/
/*flex container*/
main{
    display: flex;
}
/*flex item*/
main>*+*{
    margin-top: 0;
    margin-left: 1.5em;
}
.tile{
    background-color: white;
    padding: 1.5em;
}
.tile:first-child{
    margin-top: 0;
}
.column-main{
    flex: 3;
}
.column-sidebar{
    flex:1;
}
.column-sidebar{
    display: flex;
    flex-direction: column;
}
.column-sidebar>.tile{
  flex: 1;
}

/*----------sidebar----------*/
.login-form h3{
    margin: 0;
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}
.login-form label{
    display: block;
    text-align: left;
    font-weight: bold;
}
.login-form input[type="text"], .login-form input[type="password"]{
    display: block;
    width: 100%;
    margin-top: 0;
    border: 1px solid #dedede;
    padding: 0.5em 1em;
}
button{
    background-color: #cc6b5a;
    color:white;
    display:block ;
    text-decoration: none;
    padding: .5em;
}
button:hover{
    background-color: darkred;
}
.centered{
    text-align: center;
}

.cost>span{
    margin-top: 0;
}
.cost-currency{
    font-size: 2em;
}
.cost-dollars{
    font-size: 4em;
}
.cost-cent{
    font-size: 1.5em;
    align-self: flex-start;
}
.column-sidebar:nth-child(2) {
    display: flex;
    flex-direction: column;
}
a.cta-button{
    display:block ;
    width: 100%;
    margin-top: auto;
    text-decoration: none;
    padding: .5em;
    background-color: #cc6b5a;
    color:white;
}
a.cta-button:hover{
    background-color: darkred;
}
.cost{
    margin-top: auto;
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}